{% extends "base_site.html" %}

{% block title %}Math Assignment{% endblock %}

{% block head_content %}
<script defer src="//unpkg.com/mathlive"></script>
<link
    rel="stylesheet"
    href="https://unpkg.com/mathlive/dist/mathlive-static.css"
/>
<style>
    math-field {
        width: 100%;
        border-radius: 8px;
        margin: 8px 0;
    }
    button {
        border-radius: 8px;
        padding: 8px;
        margin: 8px 0;
        font-size: 1em;
        font-weight: bold;
        font-family: system-ui;
    }
    p {
        font-family: system-ui;
        font-size: 1em;
        padding: 0px;
    }
    #feedback {
        font-family: system-ui;
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #f0f0f0;
    }
</style>
{% endblock %}

{% block body_content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Assignment</button>
</form>

<p>Testing: Problems</p>
<math-field id="mathfield_user_input"></math-field>

<script src="https://unpkg.com/mathlive/dist/mathlive.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const mathFieldElement = document.getElementById('mathfield');
        mathFieldElement.addEventListener('input', () => {
            console.log(mathFieldElement.value); // This will log the LaTeX content
        });
    });
</script>
{% endblock %}