{% extends "base_site.html" %}

{% block title %}Math Assignment{% endblock %}

{% block head_content %}
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script defer src="//unpkg.com/mathlive"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/mathlive/dist/mathlive-static.css"
/>
<link
  href="{% static 'css/math_assignment_style.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'js/math_keyboard.js' %}"
  type="text/javascript"
/>
{% endblock %}

{% block body_content %}
  <form method="post">
    {% csrf_token %}
    <label>Assignment title:</label>
    <input name="assignment_title" id="assignment_title">

    <label>Student name:</label>
    <input name="student_name" id="student_name">

    <!-- todo: date picker -->

    <label>Teacher name:</label>
    <input name="teacher_name" id="teacher_name">

    <label>Class name:</label>
    <input name="class_name" id="class_name">

    <!-- Math Keyboard -->

    <math-field id="mathfield_user_input"></math-field>
    <script src="https://unpkg.com/mathlive/dist/mathlive.min.js"></script>
    <script src="{% static 'js/math_keyboard.js' %}"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const mathField = document.getElementById('mathfield_user_input');
        const hiddenInput = document.getElementById('math_input');

        mathField.addEventListener('input', function() {
          hiddenInput.value = mathField.getValue('latex');
        });
      });
    </script>
    
    <input type="hidden" name="math_input" id="math_input">

    <!-- Caanvas -->

    <!-- Canvas element where drawing will occur -->
    <canvas id="c" width="800" height="600" style="border:1px solid #ccc"></canvas>

    <!-- User instructions -->
    <div id="user-instructions">
        <br>In drawing mode, press and hold the SHIFT key to draw lines.
        <br>Select "Typing" mode to type.
        <br>Select "Graping" to change the background to a graph.
        <br><br>
    </div>

    <!-- Controls for drawing options -->
    <div id="drawing-features-basic">
      <button id="clear-canvas">Clear</button>
      <button onclick="undo()">Undo</button>
      <button onclick="redo()">Redo</button>

      <select id="backgroundSelector">
        <option value="blank">Blank Drawing</option>
        <option value="cartesian">X-Y Graph</option>
        <!-- Add more options as needed -->
      </select>
      <select id="userInputSelector">
        <option value="freedraw">Draw</option>
        <option value="typing">Type</option>
      </select>
      <button id="eraser-toggle">Eraser</button>
      <button id="drawing-mode">Stop Drawing</button>
    </div>

    <!-- Submit Button -->

    <button type="submit" id="save">Save Assignment</button>

  </form>
{% endblock %}

{% block footer_content %}
  <script type="text/javascript" src="{% static 'js/fabric.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/fabric-history"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}