{% extends "base_site.html" %}
{% load static %}

{% block head_content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

{% block body_content %}

  <!-- Canvas element where drawing will occur -->
  <canvas id="c" width="800" height="600" style="border:1px solid #ccc"></canvas>

  <!-- Controls for drawing options -->
  <button id="clear-canvas">Clear</button>
  <button id="undo()">Undo</button>
  <button id="redo()">Redo</button>

  <input type="text" id="drawing-name" placeholder="Enter Drawing Name">
  <button id="save-canvas">Save Drawing</button>

  <select id="load-drawing-select">
    <option value="">Select a drawing to load</option>
  </select>
  <button id="load-drawing">Load Drawing</button>
  <select id="backgroundSelector">
    <option value="blank">Blank Drawing</option>
    <option value="cartesian">X-Y Graph</option>
    <!-- Add more options as needed -->
  </select>
  <select id="userInputSelector">
    <option value="freedraw">Free Draw</option>
    <option value="line">Line</option>
    <option value="typing">Typing</option>
  </select>

  <!-- <button id="drawing-mode">Enter drawing mode</button>

  <div id="drawing-mode-options">
    <label>Line Width: <input type="range" id="drawing-line-width" min="1" max="10" value="2"></label>
    <label>Color: <input type="color" id="drawing-color" value="#000000"></label>
    <label>Shadow Width: <input type="range" id="drawing-shadow-width" min="0" max="5" value="0"></label>
    <label>Shadow Offset: <input type="range" id="drawing-shadow-offset" min="0" max="5" value="0"></label>
    <label>Shadow Color: <input type="color" id="drawing-shadow-color" value="#000000"></label>
    <select id="drawing-mode-selector">
        <option value="PencilBrush">Pencil</option>
        <option value="CircleBrush">Circle</option>
        <option value="SprayBrush">Spray</option>
        <option value="PatternBrush">Pattern</option>
        <option value="hline">Horizontal Line</option>
        <option value="vline">Vertical Line</option>
        <option value="square">Square</option>
        <option value="diamond">Diamond</option>
        <option value="texture">Texture</option>
    </select>
  </div> -->

{% endblock %}

{% block footer_content %}
  <script src="https://cdn.jsdelivr.net/npm/fabric"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
