{% extends "base_site.html" %}
{% load static %}

{% block head_content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

{% block body_content %}

  <!-- Canvas element where drawing will occur -->
  <canvas id="c" width="800" height="600" style="border:1px solid #ccc"></canvas>

  <!-- User instructions -->

  <div id="user-instructions">
      <br>In drawing mode, press and hold the SHIFT key to draw lines.
      <br>Select "Typing" mode to type.
      <br>Select "Graping" to change the background to a graph.
      <br><br>
  </div>

  <!-- Controls for drawing options -->
  <div id="drawing-features-basic">
    <button id="clear-canvas">Clear</button>
    <button onclick="undo()">Undo</button>
    <button onclick="redo()">Redo</button>

    <select id="backgroundSelector">
      <option value="blank">Blank Drawing</option>
      <option value="cartesian">X-Y Graph</option>
      <!-- Add more options as needed -->
    </select>
    <select id="userInputSelector">
      <option value="freedraw">Draw</option>
      <option value="typing">Type</option>
    </select>
    <button id="eraser-toggle">Eraser</button>
    <button id="drawing-mode">Stop Drawing</button>
  </div>

{% endblock %}

{% block footer_content %}
  <!--<script src="https://cdn.jsdelivr.net/npm/fabric"></script>-->
  <script type="text/javascript" src="{% static 'js/fabric.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/fabric-history"></script>

  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
