{% extends "base_site.html" %}
{% load static %}

{% block head_content %}
<meta charset="UTF-8">
<script src="https://unpkg.com/htmx.org"></script>
<script defer src="//unpkg.com/mathlive"></script>
{% endblock %}

{% block body_content %}
<h1>Homework Submission</h1>
<select id="widget-selector" name="widget">
    <option value="">Assignment Options</option>
    <option value="text_input">Typing</option>
    <option value="math_keyboard">Math</option>
    <option value="drawing_canvas">Drawing</option>
</select>

<div id="widgets-container">
    <!-- Widgets will be loaded here -->
</div>

<script>
    document.getElementById('widget-selector').addEventListener('change', function() {
        var widgetType = this.value;
        if (widgetType) {
            fetch(`/get-widget?widget=${widgetType}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('widgets-container').innerHTML = html;
                });
        } else {
            document.getElementById('widgets-container').innerHTML = '';
        }
    });
</script>

{% endblock %}