{% extends "base_site.html" %}

{% block head_content %}
<script defer src="//unpkg.com/mathlive"></script>
{% endblock %}

{% block body_content %}
<math-field id="mathfield"></math-field>

<script src="https://unpkg.com/mathlive/dist/mathlive.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const mathFieldElement = document.getElementById('mathfield');
        mathFieldElement.addEventListener('input', () => {
            console.log(mathFieldElement.value); // This will log the LaTeX content
        });
    });
</script>
{% endblock %}