{% extends "base_site.html" %}

{% block head_content %}
<script defer src="//unpkg.com/mathlive"></script>
{% endblock %}

{% block body_content %}
<math-field id="mathfield"></math-field>

<script src="https://unpkg.com/mathlive/dist/mathlive.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const mathFieldElement = document.getElementById('mathfield');
        mathFieldElement.addEventListener('input', () => {
            console.log(mathFieldElement.value); // This will log the LaTeX content
        });
    });
    document.querySelector('math-field').
    addEventListener('focus', () => {
        mathVirtualKeyboard.layouts = {
        rows: [
            [
                { label: '[separator]', width: 0.5 },
                "[up]",
                { label: '[separator]', width: 1 },
                "(", ")",
                { label: '[separator]', width: 0.5 },
                "1", "2", "3",
                { label: '[separator]', width: 0.5 },
                "#@^{#?}", "\\sqrt{#@}", "\\sqrt[#?]{#@}",
                { label: '[separator]', width: 0.5 },
                "\\sin({#@})", "\\cos({#@})", "\\tan({#@})",
            ],
            [
                "[left]", "[right]",
                { label: '[separator]', width: 0.5 },
                "+", "-",
                { label: '[separator]', width: 0.5 },
                "4", "5", "6",
                { label: '[separator]', width: 0.5 },
                "|#@|", "\\log({#@})", "\\log_#?({#@})",
                { label: '[separator]', width: 0.5 },
                "\\sin^{-1}({#@})", "\\cos^{-1}({#@})", "\\tan^{-1}({#@})",
            ],
            [
                { label: '[separator]', width: 0.5 },
                "[down]",
                { label: '[separator]', width: 1 },
                "\\times", "\\frac{#@}{#?}",
                { label: '[separator]', width: 0.5 },
                "7", "8", "9",
                { label: '[separator]', width: 0.5 },
                "\\sin({#@})", "\\cos({#@})", "\\tan({#@})",
                { label: '[separator]', width: 0.5 },
                "\\pi", "\\theta", "\\degree",
            ],
            [
                { label: 'spacebar', latex: '\\TextField{#@}', width: 2},
                { label: '[separator]', width: 0.5 },
                { label: 'typing', latex: '\\TextField{#@}', width: 2 },
                { label: '[separator]', width: 0.5 },
                { label: '0', latex: '0', width: 2}, ".",
                { label: '[separator]', width: 0.5 },
                "\\sin^{-1}({#@})", "\\cos^{-1}({#@})", "\\tan^{-1}({#@})",
                { label: '[separator]', width: 0.5 },
                "\\alpha", "\\beta", "\\gamma",
            ],
        ]
    };
    mathVirtualKeyboard.visible = true;
    });
</script>
{% endblock %}
